<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Document</title>
  </head>
  <body>
      <div class="accordion-item">
        <div class="accordion-tab-container">
          <h2 class="body-bold">Faut-il réserver à l'avance ?</h2>
          <div class="accordion-caret-container">
            <span class="accordion-caret"><img src="../assets/svg/chevron.svg" alt="Chevron"></span>
          </div>
        </div>
        <div class="accordion-item display">
          <p class="body">This is content we just want to share with you.</p>
        </div>
      </div>
      
      <div class="accordion-item">
        <div class="accordion-tab-container">
          <div class="accordion-caret-container">
            <span class="accordion-caret"><img src="../assets/svg/chevron.svg" alt="Chevron"></span>
          </div>
          <h2 class="body-bold">Faut-il réserver à l'avance ?</h2>
        </div>
        <div class="accordion-item display">
          <p class="body">This is content we just want to share with you.</p>
        </div>
      </div>
    <script src="../scripts/main.js"></script>
  </body>
</html>
