<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <section class="carrousel_container">
    <div class="carrousel_deux">
      <div class="tapa_deux" id="move">

        <div class="item_deux">
          <article class="card-agenda">
            <div class="card-agenda__media">
              <img src="../assets/images/agenda-yoga.webp" alt="" />
              <div class="card-agenda__date">10/02</div>
            </div>

            <div class="card-agenda__content">
              <h4 class="card-agenda__title">Yoga avec les chats</h4>
              <p class="card-agenda__text">
                Pour vous détendre davantage, nos chats se feront plaisir de partager votre séance avec vous.
                Rendez-vous
                de 14h à 15h30.
              </p>
            </div>
          </article>
        </div>

        <div class="item_deux">
          <article class="card-agenda">
            <div class="card-agenda__media">
              <img src="../assets/images/agenda-lecture.webp" alt="" />
              <div class="card-agenda__date">26/02</div>
            </div>

            <div class="card-agenda__content">
              <h4 class="card-agenda__title">Atelier Lecture</h4>
              <p class="card-agenda__text">
                Amenez votre livre du moment, ou empruntez un livre dans notre
                bibliothèque. Un temps d'échange autour de vos lectures est prévu à
                17h.
              </p>
            </div>
          </article>
        </div>

        <div class="item_deux">
          <article class="card-agenda">
            <div class="card-agenda__media">
              <img src="../assets/images/agenda-meal.webp" alt="" />
              <div class="card-agenda__date">Tous les jours</div>
            </div>

            <div class="card-agenda__content">
              <h4 class="card-agenda__title">Repas avec nos résidents </h4>
              <p class="card-agenda__text">
                Assistez au moment le plus attendus de nos félins : la distribution de pâtée ! Chaque jour à 11h et 18h,
                venez partager ce moment avec nos résidents.
              </p>
            </div>
          </article>
        </div>

        <div class="item_deux">
          <article class="card-agenda">
            <div class="card-agenda__media">
              <img src="../assets/images/agenda-diy.webp" alt="" />
              <div class="card-agenda__date">03/03</div>
            </div>

            <div class="card-agenda__content">
              <h4 class="card-agenda__title">Atelier DIY - jouets pour chats</h4>
              <p class="card-agenda__text">
                Papier, cartons, tissus... et si vous confectionnez le prochain jeu favori de nos résidents ou de votre
                chat ?
              </p>
            </div>
          </article>
        </div>

        <div class="item_deux">
          <article class="card-agenda">
            <div class="card-agenda__media">
              <img src="../assets/images/agenda-rpg.webp" alt="" />
              <div class="card-agenda__date">14/03</div>
            </div>

            <div class="card-agenda__content">
              <h4 class="card-agenda__title">Atelier jeu de rôle</h4>
              <p class="card-agenda__text">
                Incarnez un chaton et combattez des ennemis redoutables ! Jeu de rôle donjons et chatons. Les débutants
                sont
                également les bienvenus. Séance de 11h à 20h.
              </p>
            </div>
          </article>
        </div>

        <div class="item_deux">
          <article class="card-agenda">
            <div class="card-agenda__media">
              <img src="../assets/images/agenda-conquest.webp" alt="" />
              <div class="card-agenda__date">25/03</div>
            </div>

            <div class="card-agenda__content">
              <h4 class="card-agenda__title">Concours du chat le plus moche</h4>
              <p class="card-agenda__text">
                Qui a dit que le chat le plus moche, ne pouvait pas gagner un prix ? Venez voter pour votre futur roi ou
                reine !
              </p>
            </div>
          </article>
        </div>

      </div>
      <div class="cont_deux">

        <div class="left_deux controls_deux" id="l">
          <svg class="arrow" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.6374 19.9708C10.8563 20.7522 10.4175 21.8118 10.4175 22.9167C10.4175 24.0215 10.8563 25.0811 11.6374 25.8625L24.9999 39.2271L38.3624 25.8625C39.177 25.05 39.5833 23.9833 39.5833 22.9167C39.5833 21.85 39.177 20.7833 38.3624 19.9708C37.5811 19.1897 36.5214 18.7509 35.4166 18.7509C34.3117 18.7509 33.2521 19.1897 32.4708 19.9708L24.9999 27.4396L17.5291 19.9708C16.7477 19.1897 15.6881 18.7509 14.5833 18.7509C13.4784 18.7509 12.4188 19.1897 11.6374 19.9708Z" />
          </svg>
        </div>

        <div class="right_deux controls_deux" id="r">
          <svg class="arrow" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11.6374 19.9708C10.8563 20.7522 10.4175 21.8118 10.4175 22.9167C10.4175 24.0215 10.8563 25.0811 11.6374 25.8625L24.9999 39.2271L38.3624 25.8625C39.177 25.05 39.5833 23.9833 39.5833 22.9167C39.5833 21.85 39.177 20.7833 38.3624 19.9708C37.5811 19.1897 36.5214 18.7509 35.4166 18.7509C34.3117 18.7509 33.2521 19.1897 32.4708 19.9708L24.9999 27.4396L17.5291 19.9708C16.7477 19.1897 15.6881 18.7509 14.5833 18.7509C13.4784 18.7509 12.4188 19.1897 11.6374 19.9708Z" />
          </svg>
        </div>

      </div>
    </div>
  </section>






  <script src="../scripts/main.js"></script>


</body>

</html>