
  

  <!doctype html>
  <html lang="en">
  
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../styles/main.css" rel="stylesheet" />
  </head>
  
  <body>

    <footer class="footer">
      <div class="footer-top">
        <div class="footer-top-left">
          <div>
            <h3>Newsletter</h3>
            <p>Pour être informer de tous nos évènements :</p>
          </div>
          <div class="container-form">
            <form>
              <input type="email" placeholder="Email" required>
              <button type="submit">S'inscrire à la newsletter</button>
            </form>
          </div>
        </div>
        <div class="footer-top-right">
          <div>
            <h3>Horaires</h3>
            <ul>
              <li>Du mardi au samedi de <span>11h à 21h30</span></li>
              <li>Le dimanche de <span>10h à 14h</span></li>
              <li>Fermé le lundi</li>
            </ul>
          </div>
          <div class="container-butons-schedule">
            <a href="#" class="button button--secondary hero__cta"> Écrire </a>
            <a href="#" class="button button--secondary hero__cta"> Appeler </a>
          </div>
        </div>
      </div>
      <div class="footer-links">
        <a href="#">Mentions légales</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">Plan du site</a>
      </div>
    </footer>
  

  </body>
  
  </html>

