<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="timeline-grid">
      <!-- Ligne 1 -->
      <div class="cellule"></div>
      <div class="cellule trait_gauche padding-bottom">
        <h4>2020 - Ouverture de Chat’alors</h4>
        <p class="body">
          Après des mois de préparation, de travaux et de collaborations avec la
          SPA, Chat’alors ouvre enfin ses portes et accueille ses premiers
          visiteurs… et ses premiers chats résidents.
        </p>
      </div>
      <div class="cellule"></div>

      <!-- Ligne 2 : image centrale -->
      <div class="image-cellule">
        <img src="../assets/svg/timeline_line.svg" alt="Timeline trait" />
      </div>

      <!-- Ligne 3 -->
      <div class="cellule trait_gauche padding-top" style="grid-column: 1">
        <!-- C4 -->
        <h4>2019 - Naissance du projet</h4>
        <p class="body">
          L’idée du bar à chats naît d’une passion commune pour les animaux et
          les lieux de partage : créer un espace chaleureux où humains et chats
          peuvent se rencontrer dans le respect et la douceur.
        </p>
      </div>
      <div class="cellule trait_gauche padding-top">
        <h4>2024 - Une communauté engagée</h4>
        <p class="body">
          Chat’alors devient un lieu de vie incontournable, soutient l’adoption
          responsable et accueille régulièrement des événements solidaires,
          renforçant les liens entre amoureux des chats.
        </p>
      </div>
      <div class="cellule"></div>
    </div>
  </body>
</html>
